<!DOCTYPE html>
<html lang="fr">

<head>
    {{ partial "head.html" . }}
</head>

<body class="has-navbar">

    {{ partial "menu.html" .}}

	<article>
		<div class="container">
			<div class='columns'>
				<div class='column is-two-thirds'>
					<div class="content">
						<header>
							<h1 class='is-1 title-header-article'>
								{{ if (not (isset .Params "longtitle")) }}
								{{ .Title }}
								{{else}}
								{{ .Params.titlelong}}
								{{end}}
							</h1>
						</header>
						{{ .Content }}
					</div>
				</div>

				<div class='column is-one-thirds'>
					<aside>
						<div class='moreContent'>

						</div>
					</aside>
				</div>
			</div>
		</div>
    </article>
    
    {{ partial "footer.html" . }}
</body>

</html>