<!DOCTYPE html>
<html lang="fr">

<head>
	{{ partial "head.html" . }}
</head>

<body class="has-navbar-fixed-top">
	{{ partial "fixed.html" .}}
	{{ partial "menu.html" .}}

	<article>
		<div class="container">
			<div class='columns'>
				<div class='column is-7'>
					<div class="content">
						<header>
							<h1 class='is-1 title-header-article'>
								{{ if (not (isset .Params "longtitle")) }}
								{{ .Title }}
								{{else}}
								{{ .Params.longtitle}}
								{{end}}
							</h1>
						</header>
						{{ .Content }}
					</div>
				</div>

				<div class='column is-5'>
					<aside>
						{{ if .Params.image1 }} 
						<div class='moreContent'>
							<div class='imageSide'>
								<img class="lazy" src='{{ "img/placeholder.png" | absURL }}' srcset="{{ $.Site.Data.paramsite.baseUrlImage }}w_800/{{ .Params.image1 }} 800w,
									{{ $.Site.Data.paramsite.baseUrlImage }}w_710/{{ .Params.image1 }} 710w,
									{{ $.Site.Data.paramsite.baseUrlImage }}w_1000/{{ .Params.image1 }} 1000w,
									{{ $.Site.Data.paramsite.baseUrlImage }}w_1420/{{ .Params.image1 }} 1420w"
									data-src="{{ $.Site.Data.paramsite.baseUrlImage  }}w_800/{{ .Params.image1 }}"
									alt="" />
							</div>
						</div>
						{{ end }}

                   		{{ if .Params.image_2 }} 
						<div class='moreContent'>
							<div class='imageSide'>
								<img class="lazy" src='{{ "img/placeholder.png" | absURL }}' srcset="{{ $.Site.Data.paramsite.baseUrlImage }}w_800/{{ .Params.image_2 }} 800w,
									{{ $.Site.Data.paramsite.baseUrlImage }}w_710/{{ .Params.image_2 }} 710w,
									{{ $.Site.Data.paramsite.baseUrlImage }}w_1000/{{ .Params.image_2 }} 1000w,
									{{ $.Site.Data.paramsite.baseUrlImage }}w_1420/{{ .Params.image_2 }} 1420w"
									data-src="{{ $.Site.Data.paramsite.baseUrlImage  }}w_800/{{ .Params.image_2 }}"
									alt="" />
							</div>
						</div>
						{{ end }}
					</aside>
				</div>
			</div>
		</div>
	</article>

	{{ partial "footer.html" . }}
</body>

</html>