$couleur-princ:#8acbb2;
$couleur-text:rgb(31, 31, 31);
$couleur-princ-hover:#727272;
$couleur-light:white;
$couleur-liens-hover:#025d8c;

$footer-background-color:#fcfcfc;
$discret-sombre:#b3b3b3;

$couleur-header:#025d8c;

$couleur-menu:#8acbb2;
$couleur-text-menu:white;
$couleur-hover-menu:#025d8c;

$couleur-background-general:rgb(212, 212, 212);