<div class='column is-5'>
    <aside>
        {{ if .Params.image1 }} 
        <div class='moreContent'>
            <div class='imageSide'>
                <img class="lazy" src='{{ "img/placeholder.png" | absURL }}' srcset="{{ $.Site.Data.paramsite.baseUrlImage }}w_400/{{ .Params.image1 }} 800w,
                    {{ $.Site.Data.paramsite.baseUrlImage }}w_500/{{ .Params.image1 }} 710w,
                    {{ $.Site.Data.paramsite.baseUrlImage }}w_600/{{ .Params.image1 }} 1000w,
                    {{ $.Site.Data.paramsite.baseUrlImage }}w_700/{{ .Params.image1 }} 1420w"
                    data-src="{{ $.Site.Data.paramsite.baseUrlImage  }}w_700/{{ .Params.image1 }}"
                    alt="" />
            </div>
        </div>
        {{ end }}

        {{ if .Params.image_2 }} 
        <div class='moreContent'>
            <div class='imageSide'>
                <img class="lazy" src='{{ "img/placeholder.png" | absURL }}' srcset="{{ $.Site.Data.paramsite.baseUrlImage }}w_400/{{ .Params.image_2 }} 800w,
                    {{ $.Site.Data.paramsite.baseUrlImage }}w_500/{{ .Params.image_2 }} 710w,
                    {{ $.Site.Data.paramsite.baseUrlImage }}w_600/{{ .Params.image_2 }} 1000w,
                    {{ $.Site.Data.paramsite.baseUrlImage }}w_700/{{ .Params.image_2 }} 1420w"
                    data-src="{{ $.Site.Data.paramsite.baseUrlImage  }}w_700/{{ .Params.image_2 }}"
                    alt="" />
            </div>
        </div>
        {{ end }}

        {{ if .Params.contentaside }} 
        <div class='moreContent'>
            {{ .Params.contentaside | markdownify }}
        </div>
        {{ end }}

        
    </aside>

</div>
