<div class="column is-5">
  <aside>
    <div class="moreContent">
      <div class="imageSide">
        {{$image := resources.Get .Params.image }} <img class="lazy"
        src="{{($image.Resize "600x").RelPermalink}}" alt="Photo du cabinet" />
      </div>
    </div>
    {{ if .Params.image }} {{ end }} {{ if .Params.imagebis }}
    <div class="moreContent">
      <div class="imageSide">
        {{$image2 := resources.Get .Params.imagebis }}<img class="lazy"
        src="{{($image2.Resize "600x").RelPermalink }}" alt="Photo du cabinet"
        />
      </div>
    </div>
    {{ end }} {{ if .Params.contentaside }}
    <div class="moreContent">{{ .Params.contentaside | markdownify }}</div>
    {{ end }}
  </aside>
</div>
