<nav class="navbar is-fixed-top ">
    <div class='content-fixed is-vcentered '>
        <div class='column has-text-centered infos-nav-bar'>
            <a class='fixed-links' href="#">
                <i class="fas fa-phone"></i>
                <span class='is-hidden-mobile'>{{ $.Site.Data.paramsite.phone }}</span>
            </a>

            <a class='fixed-links' href="#"><i class="fas fa-map-marker-alt"></i> <span class='is-hidden-mobile'>Adresse</span></a>

            <div class="menu-burger">
                <span class="navbar-burger burger" data-target="navMenuMobile">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
        </div>

    </div>

    <div id="navMenuMobile" class="navbar-menu is-hidden-desktop">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        {{ else }}
        <a class='nav-link navbar-item' href="{{ .URL | absURL }}">
        {{ .Name }}
        </a>
        {{ end }}
        {{ end }}
    </div>

</nav>
